*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chat{
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    width: 50%;
}

#chatWindow{
  box-sizing: content-box;
}
#story{
    background-color: coral;
    height: 100vh;
    display: flex;
    width: 50%;
}

#root{
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 0;

}

#message{
    bottom: 0;
    left:0;
    right: 0;
    
    position: absolute;
    display: inline;
    margin: 0;
    padding: 0;
}